#Skill-Cplus {
    animation: Animate-Cplus4s;
    -webkit-animation: Animate-Cplus 4s;
    -moz-animation: Animate-Cplus 4s;
    -o-animation: Animate-Cplus 4s;
    border-radius: 20px;
    width: 42.5%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}
.Skill-Area {
    z-index: 1;
    float: left;
    /* position: absolute; */
    margin-top: 8px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
}
.SkillBar {
    width: 95%;
    height: 50px;
    position: static;
    border-radius: 20px;
    background: rgba(17, 17, 17, .3);
    background: #c5c2ff;
    margin: 20px auto;
}
#SkillBox {
    width: 50%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius: 50px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
}
.Skill-heading {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 300;
}
#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    border-radius: 20px;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}
#Skill-Python {
    border-radius: 20px;
    animation: Animate-Python 5s;
    -webkit-animation: Animate-Python 5s;
    -moz-animation: Animate-Python 5s;
    -o-animation: Animate-Python 5s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}
#Skill-HTML {
    width: 45%;
    border-radius: 20px;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    border-radius: 20px;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}
#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    border-radius: 20px;
    width: 32.5%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}
#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    border-radius: 20px;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #6c63ff;
}

    
    .Issue{
        display: flex;
        /* align-items: center; */
        gap: 200px;
        padding: 40px;
        /* border: 1px solid black; */
    }
    /* justify-content: center; */
